.filters {
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.choices-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.choices-container > .choices:first-child {
    margin-bottom: 10px;
}

.with-description {
    margin-top: 8px;
}

@media (min-width: 640px) {
    .choices-container {
        display: flex;
        flex-direction: row;
    }

    .choices-container > .choices:first-child {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search {
        width: 65%;
        margin-right: 20px;
    }

    .with-description { 
        margin-top: 0;
    }
    
}